{% extends "layout.html"  %}
{% block html_class %}
{%  endblock %}
{% block contenido %}
<main>
    <ul class="list_square">
        <li>
            Conjunción: ^
        </li>
        <li>
            Disyunción: v
        </li>
        <li>
            negación: ~
        </li>
        <li>
            implica: ->
        </li>
        <li>
            equivale: <->
        </li>
    </ul>

    <form class="row g-3" method="post" action="/logica" id="formulario">
        <div class="col-12">
            <input class="form-control" type="text" id = "frase_logica" name = "frase_logica" value="{{ frase_logica }}" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-info" type="submit">
                Desarrollar tablas de verdad
            </button>
        </div>
    </form>
    <div>
        <p>

        </p>
    </div>
    <div class="table-responsive">
        {% if tabla_de_verdades %}
            <table  class="table table-bordered align-middle" style="border-color: dimgrey">
                <thead>
                    <tr align="center">
                        {% for cabeza in tabla_de_verdades[0] %}
                            <th  scope="col"  >
                                {{ cabeza }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in tabla_de_verdades[1:] %}
                        <tr>
                            {% for casilla in fila %}
                                {% if casilla == "V" %}
                                <td align="center" style="background-color: rgb(15,171,34)">
                                    {{ casilla | safe }}
                                </td>
                                {% elif  casilla == "F"%}
                                <td align="center" style="background-color: rgb(235,14,14)">
                                    {{ casilla | safe }}
                                </td>
                                {% else %}
                                <td align="center">
                                    {{ casilla | safe }}
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        {% endif %}
    </div>
    <div>
        {% if frase_logica_corregida == "no legible" %}
        <p class="resultado">
            hubo un error en la proposición ingresada al leerla
        </p>
        {% else %}
        {% endif %}
    </div>


</main>
{% endblock %}