{% extends "layout.html"  %}
{% block html_class %}
{%  endblock %}
{% block contenido %}
<main>
    <form method="post" action="/binomio" id="formulario">
        <div class="row mb-2">
            <div class="col-md-5">
                <label class="form-label" for="primer_termino">
                    Primer término
                </label>
                <input type="text" class="form-control" placeholder="______________" id = "primer_termino" name = "primer_termino" required>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="signito">
                      + / -
                </label>
                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" id="signito" name = "signito">

                </div>
            </div>
            <div class="col-md-5">
                <label class="form-label" for="segundo_termino">
                    Segundo término
                </label>
                <input type="text" class="form-control" placeholder="______________" id = "segundo_termino" name = "segundo_termino" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label" for="exponente">
                    Exponente
                </label>
                <input type="number" class="form-control" placeholder="______________" id = "exponente" name = "exponente" min="0" required>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="num">
                    Término buscado
                </label>
                <input type="number" class="form-control"
                       placeholder="______________" id = "num" name = "num"
                       min="1" required>
            </div>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-outline-info">
                Desarrollar
            </button>
        </div>

    </form>
    <p class = "resultado">
        {% if binomio_inicial %}
            Binomio: {{ binomio_inicial | safe  }}
        {% else %}
        {% endif %}
    </p>
    <p class = "resultado">
        {% if Binomio %}
             Binomio desarrollado: {{ Binomio | safe  }}
        {% else %}
        {% endif %}

    </p>
    <p class = "resultado">
        {% if Termino_buscado %}
                El término nº {{ numero }} es: {{ Termino_buscado | safe }}
        {% else %}

        {% endif %}
    </p>

</main>
{% endblock %}